---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="7ee5610de98cac361d963c6f551f4bd4",
        oauth_signature="fTQbnWnF7PLezI6ZWJr32WLpKeY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441943505", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 03:51:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e3a400d539b48f7f7e7b6bc7afca91ac
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1441943753'
      X-Response-Time:
      - '143'
      X-Transaction:
      - 4dab76d49bd5fbd5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 03:51:44 +0000 2015","id":642183719420235776,"id_str":"642183719420235776","text":"Sometimes
        I really question my packing ability. Like, for real, I forget the most basic
        stupid shit.","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":29765369,"id_str":"29765369","name":"Jessica
        Goulding","screen_name":"jessicag","location":"Denver, CO \/ London, UK","description":"Craft
        food and drink enthusiast. || Software Developer for Redsson @uncubed || Alumna
        of @turingschool || Organizer for @gocodecolorado ||","url":"http:\/\/t.co\/Sr3xeuNcSb","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Sr3xeuNcSb","expanded_url":"http:\/\/jessicag.github.io","display_url":"jessicag.github.io","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1606,"friends_count":526,"listed_count":68,"created_at":"Wed
        Apr 08 17:16:18 +0000 2009","favourites_count":4138,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":8979,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/476449209554448384\/xUb0KwhJ_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/476449209554448384\/xUb0KwhJ_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/29765369\/1424461479","profile_link_color":"9266CC","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Sep 11 03:51:43 +0000 2015","id":642183713284038656,"id_str":"642183713284038656","text":"RT
        @erickahnert: Now that the game is over .. it''s game on at 7NEWS. Denver''s
        DA is ordered into the courtroom, why your food will be safer\u2026","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_[...]
