---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="8a6d57148889a248ccfe18d61186e3f7",
        oauth_signature="4Ao5KFCYeyfit8zjjfQePqWT5R4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441945983", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 04:33:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 814995b5d483361da7ae0629887e21ca
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441946883'
      X-Response-Time:
      - '34'
      X-Transaction:
      - 652ba765e79bddf1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 04:32:09 +0000 2015","id":642193891056308224,"id_str":"642193891056308224","text":"India
        seeks Saudi help in ''rape'' case http:\/\/t.co\/sVkFBMknRy","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":742143,"id_str":"742143","name":"BBC
        News (World)","screen_name":"BBCWorld","location":"London, UK","description":"Where
        we #LiveTheStory - join us\nhttp:\/\/t.co\/zQYj7l9rp2","url":"http:\/\/t.co\/hqt08RrbCA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/hqt08RrbCA","expanded_url":"http:\/\/www.bbc.com\/news","display_url":"bbc.com\/news","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/zQYj7l9rp2","expanded_url":"http:\/\/bbc.in\/1JOy0bB","display_url":"bbc.in\/1JOy0bB","indices":[33,55]}]}},"protected":false,"followers_count":11248260,"friends_count":69,"listed_count":90553,"created_at":"Thu
        Feb 01 07:44:29 +0000 2007","favourites_count":0,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":212828,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/459295591915204608\/P0byaGJj.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/459295591915204608\/P0byaGJj.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/522359986324643842\/QVNpxIrk_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/522359986324643842\/QVNpxIrk_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/742143\/1398339487","profile_link_color":"1F527B","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"5A5A5A","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":4,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/sVkFBMknRy","expanded_url":"http:\/\/bbc.in\/1Q5iJm1","display_url":"bbc.in\/1Q5iJm1","indices":[38,60]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 04:30:54 +0000 2015","id":642193577095901184,"id_str":"642193577095901184","text":"RT
        @IndianGuru: Five Reasons Why Developers Love @digitalocean http:\/\/t.co\/ONt0aLe3jm","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="cfcb6932e1f0d1dafa02da6241f9933b",
        oauth_signature="w725qNJ1OqLiE21Fw1p61DaGLus%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441945984", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
