---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="a1751ea0a5eda85b52c4cf77969805b4",
        oauth_signature="wiqT3FvoGXOf%2BnZ9irGQGFMFnvE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441978249", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 13:30:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 78f5fb6d32bdebdaedf6822447c0e5c3
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1441978779'
      X-Response-Time:
      - '58'
      X-Transaction:
      - 7c239eca9fdd3ae1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 13:30:19 +0000 2015","id":642329323140182016,"id_str":"642329323140182016","text":"#9newsmornings
        #UnitedWeStand #NeverForget http:\/\/t.co\/irqiCgeuAj","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19032473,"id_str":"19032473","name":"9NEWS
        Denver","screen_name":"9NEWS","location":"Denver, Colorado","description":"Headlines:
        Yes, but use Twitter for much more: #BeOn9, #9WX, chats, etc. We use Twitter
        to engage with you! We also, RT Team 9NEWS http:\/\/t.co\/sGKKRaZynN.","url":"http:\/\/t.co\/tqpZuE2KEo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/tqpZuE2KEo","expanded_url":"http:\/\/www.9news.com","display_url":"9news.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/sGKKRaZynN","expanded_url":"http:\/\/on9news.tv\/9team","display_url":"on9news.tv\/9team","indices":[131,153]}]}},"protected":false,"followers_count":174380,"friends_count":18250,"listed_count":2684,"created_at":"Thu
        Jan 15 18:32:46 +0000 2009","favourites_count":1005,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":213256,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"13078B","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/575654239680114688\/PWqE92oA.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/575654239680114688\/PWqE92oA.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/607907370375585792\/98OHpInF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/607907370375585792\/98OHpInF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19032473\/1426081767","profile_link_color":"821522","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"B3C2DF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"9newsmornings","indices":[0,14]},{"text":"UnitedWeStand","indices":[15,29]},{"text":"NeverForget","indices":[30,42]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":642329322653663232,"id_str":"642329322653663232","indices":[43,65],"media_url":"http:\/\/pbs.twimg.com\/media\/COoDHaGWwAAWT1p.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COoDHaGWwAAWT1p.jpg","url":"http:\/\/t.co\/irqiCgeuAj","display_url":"pic.twitter.com\/irqiCgeuAj","expanded_url":"http:\/\/twitter.com\/9NEWS\/status\/642329323140182016\/photo\/1","type":"photo","sizes":{"large":{"w":796,"h":803,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":605,"resize":"fit"},"small":{"w":340,"h":342,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":642329322653663232,"id_str":"642329322653663232","indices":[43,65],"media_url":"http:\/\/pbs.twimg.com\/media\/COoDHaGWwAAWT1p.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COoDHaGWwAAWT1p.jpg","url":"http:\/\/t.co\/irqiCgeuAj","display_url":"pic.twitter.com\/irqiCgeuAj","expanded_url":"http:\/\/twitter.com\/9NEWS\/status\/642329323140182016\/photo\/1","type":"photo","sizes":{"large":{"w":796,"h":803,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":605,"resize":"fit"},"small":{"w":340,"h":342,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"und"},{"created_at":"Fri
        Sep 11 13:30:11 +0000 2015","id":642329290701467648,"id_str":"642329290701467648","text":"RT
        @dorkly: Why Batman Isn''t Really Tragic At All - http:\/\/t.co\/KJEXff8hOu
        http:\/\/t.co\/dDXEp562Ul","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":16825289,"id_str":"16825289","name":"CollegeHumor","screen_name":"CollegeHumor","location":"NYC","description":"The
        Official Twitter of CollegeHumor.\n\nhttp[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="45cd9b11202e46075ba8b27831ced5f6",
        oauth_signature="5KJnKICwmBwF6r9p0S6AhvP73F8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441978250", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/642329323140182016.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="99a9dac97db8e79f598c5e878e217045",
        oauth_signature="Z6JvnvyUsgavJVBwtxilMjX%2Fha0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441978251", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
 [...]
[...]
