---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="7aa114f9bed612a275abd594f2ad5fe9",
        oauth_signature="gtgJyJqIKa4FXRu3ecF20U3Wl%2F8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441992161", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 17:22:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6e7b1ed0a6032cd9a60d333da3c1c427
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1441992838'
      X-Response-Time:
      - '53'
      X-Transaction:
      - 169dd443548e5fba
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 17:22:05 +0000 2015","id":642387651543199744,"id_str":"642387651543199744","text":".@seattletimes\u2019
        @rachelerman opines \u201cChef could be\u2026 an example of how significant
        Seattle has become in cloud tech\u201d http:\/\/t.co\/vPqLxD32ei","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":16333852,"id_str":"16333852","name":"Chef","screen_name":"chef","location":"Seattle,
        WA, USA","description":"Helping people achieve awesome with IT automation,
        configuration management, & continuous delivery. #devops \/ #hugops \/ #learnchef
        \/ #getchef \/ #foodfightshow","url":"http:\/\/t.co\/OudqPCVrNN","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/OudqPCVrNN","expanded_url":"http:\/\/www.chef.io","display_url":"chef.io","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":23218,"friends_count":386,"listed_count":945,"created_at":"Wed
        Sep 17 18:23:58 +0000 2008","favourites_count":181,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":6128,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/616327263684947968\/r7C1Tnye_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/616327263684947968\/r7C1Tnye_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/16333852\/1405444420","profile_link_color":"F18A20","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"seattletimes","name":"The
        Seattle Times","id":14352556,"id_str":"14352556","indices":[1,14]},{"screen_name":"rachelerman","name":"Rachel
        Lerman","id":212764713,"id_str":"212764713","indices":[16,28]}],"urls":[{"url":"http:\/\/t.co\/vPqLxD32ei","expanded_url":"http:\/\/bit.ly\/1EOuI6Z","display_url":"bit.ly\/1EOuI6Z","indices":[116,138]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 17:21:44 +0000 2015","id":642387563580362752,"id_str":"642387563580362752","text":"RT
        @khoi: Post: The results of my survey about design tools is out! 4000 results
        from 200+ countries. http:\/\/t.co\/0a6YkReeJg http:\/\/t.co\/bi\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="5d0938325b16e161f0a12d92cd5fa31d",
        oauth_signature="albEMdHF79BHpu6k%2F7l6m8YS3ug%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441992161", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSM[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: in_reply_to_status_id=&status=This+is+a+test+of+the+Twitter+API+system.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="27345bd3595c7eecfb973b7cc58c55ac",
        oauth_signature="nhsM2aPYBpym6e0RIPdEaOiHfTU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441992163", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 17:22:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 38e1f1674c2b61cd09d99e68162228b7
      X-Response-Time:
      - '122'
      X-Transaction:
      - 6f9bca9975dd9f9e
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 17:22:43 +0000 2015","id":642387811706929152,"id_str":"642387811706929152","text":"This
        is a test of the Twitter API system.","source":"\u003ca href=\"https:\/\/youtwitface-dev.herokuapp.com\"
        rel=\"nofollow\"\u003eyou_twit_face_dev\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_repl[...]
[...]
