---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="458f5c70e7cddf45ab7af5f3176a6d2c",
        oauth_signature="zujSDqo5CBPvaGeTsNlOGZFqhCQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441998479", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 19:08:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ff6c3b8d102320319dbef320eda93231
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441999380'
      X-Response-Time:
      - '44'
      X-Transaction:
      - b39a3bc0bb5e6c8e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 19:07:05 +0000 2015","id":642414075050225664,"id_str":"642414075050225664","text":"At
        Least 65 Dead In Crane Collapse At Mecca''s Grand Mosque http:\/\/t.co\/UNNUFdiZzo","source":"\u003ca
        href=\"http:\/\/dlvr.it\" rel=\"nofollow\"\u003edlvr.it\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":5392522,"id_str":"5392522","name":"NPR","screen_name":"NPR","location":"Washington,
        DC","description":"News. Arts & Life. Music. Everything and more from NPR.","url":"http:\/\/t.co\/SoL86ga4RI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/SoL86ga4RI","expanded_url":"http:\/\/www.npr.org","display_url":"npr.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":4065272,"friends_count":73576,"listed_count":57158,"created_at":"Sun
        Apr 22 05:10:15 +0000 2007","favourites_count":1057,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":83265,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/414161733\/nprnews_background.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/414161733\/nprnews_background.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/639869708947300353\/rACuMjjF_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/639869708947300353\/rACuMjjF_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/5392522\/1406560384","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":6,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/UNNUFdiZzo","expanded_url":"http:\/\/n.pr\/1i4kPr5","display_url":"n.pr\/1i4kPr5","indices":[59,81]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 19:06:11 +0000 2015","id":642413848188817409,"id_str":"642413848188817409","text":"Game
        Changer: New @NickelodeonTV show stars a coding girl duo who make it big.
        http:\/\/t.co\/isRb1w60Yt http:\/\/t.co\/jSlkJsqC9t","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":850107536,"id_str":"850107536","name":"Code.org","screen_name":"codeorg","location":"","description":"http:\/\/t.co\/rQdcoEyAx8
        is[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="fb346a05ffbcc9edc31aa659469cd837",
        oauth_signature="vp5IEH21Ex9tzA7MvxKeq5LCwOY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441998480", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+a+test+of+the+Twitter+API+system.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="d44d68a3807d11c9c0d111ae8eba40ee",
        oauth_signature="puQ9dzWqtuLEZ2fuNSuvxJFZxTM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441998482", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 19:08:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 83958e8f7472d51ba988af66eec90aa6
      X-Response-Time:
      - '72'
      X-Transaction:
      - 424e6c5bb17cc2cd
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 19:08:02 +0000 2015","id":642414314243014656,"id_str":"642414314243014656","text":"This
        is a test of the Twitter API system.","source":"\u003ca href=\"https:\/\/youtwitface-dev.herokuapp.com\"
        rel=\"nofollow\"\u003eyou_twit_face_dev\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_repl[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/642414314243014656.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="4c0bbfc5542c1fd8238a9a4cda3ccf26",
        oauth_signature="e2LFroC6i%2FwmUr8vGGGU3QS2EuY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441998484", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 19:08:05 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a4a31caa36858af7ff426841b61ed460
      X-Response-Time:
      - '33'
      X-Transaction:
      - 244ec14403944154
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":328,"message":"Retweet is not permissible for this
        status."}]}'
  recorded_at: Fri, 11 Sep 2015 19:08:05 GMT
[...]
