---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="3b8d46031623e79e3c5ad6d7600eaa83",
        oauth_signature="oS7uP6EAC3leaAdY8vXgx8AgFtg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441939652", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 02:47:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e0432ef4f9161c58d10027101e76da5c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1441940548'
      X-Response-Time:
      - '63'
      X-Transaction:
      - 07cc8e70836a9afb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 02:47:05 +0000 2015","id":642167449761251328,"id_str":"642167449761251328","text":"Enter
        to win 10 super sweet SnapPower guidelights http:\/\/t.co\/JT3LS8XzEo http:\/\/t.co\/H76kjdRD7K","source":"\u003ca
        href=\"http:\/\/www.socialflow.com\" rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":816653,"id_str":"816653","name":"TechCrunch","screen_name":"TechCrunch","location":"San
        Francisco, CA","description":"Breaking technology news, analysis, and opinions
        from TechCrunch. The number one guide for all things tech.","url":"http:\/\/t.co\/b5Oyx12qGG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/b5Oyx12qGG","expanded_url":"http:\/\/techcrunch.com","display_url":"techcrunch.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":5588327,"friends_count":719,"listed_count":99591,"created_at":"Wed
        Mar 07 01:27:09 +0000 2007","favourites_count":760,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":108144,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"149500","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/621096023751004161\/BAKy7hCT.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/621096023751004161\/BAKy7hCT.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/615392662233808896\/EtxjSSKk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/615392662233808896\/EtxjSSKk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/816653\/1431096993","profile_link_color":"097000","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDFFCC","profile_text_color":"222222","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/JT3LS8XzEo","expanded_url":"http:\/\/tcrn.ch\/1NkanYs","display_url":"tcrn.ch\/1NkanYs","indices":[50,72]}],"media":[{"id":642167448976801793,"id_str":"642167448976801793","indices":[73,95],"media_url":"http:\/\/pbs.twimg.com\/media\/COlv5HqUwAEN2UQ.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/COlv5HqUwAEN2UQ.png","url":"http:\/\/t.co\/H76kjdRD7K","display_url":"pic.twitter.com\/H76kjdRD7K","expanded_url":"http:\/\/twitter.com\/TechCrunch\/status\/642167449761251328\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":400,"resize":"fit"},"large":{"w":967,"h":646,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":226,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":642167448976801793,"id_str":"642167448976801793","indices":[73,95],"media_url":"http:\/\/pbs.twimg.com\/media\/COlv5HqUwAEN2UQ.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/COlv5HqUwAEN2UQ.png","url":"http:\/\/t.co\/H76kjdRD7K","display_url":"pic.twitter.com\/H76kjdRD7K","expanded_url":"http:\/\/twitter.com\/TechCrunch\/status\/642167449761251328\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":400,"resize":"fit"},"large":{"w":967,"h":646,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":226,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 02:47:03 +0000 2015","id":642167439996919809,"id_str":"642167439996919809","text":"Amputee
        animals saved by activist who''s an amputee herself http:\/\/t.co\/rvH9avmcxV
        http:\/\/t.co\/auOHQfo23w","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19380829,"id_str":"19380829","name":"Yahoo","screen_name":"Yahoo","location":"Sunnyvale
        CA","description":"Yahoo''s official Twitter, sharing the best of our network.
        F[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="e2e133240ff8a84dab92f92536f01811",
        oauth_signature="6abKr6SlOQZ54pfkuIqoQsnTNos%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441939652", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
