---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="7aadb83a02af348de07832e8cb4f27a6",
        oauth_signature="LYDZNKqgLmCWUblD6zAZpLXtnA8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441945303", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 04:21:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 57fae38b4aa757e3d8e76f71d7a19394
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1441945936'
      X-Response-Time:
      - '47'
      X-Transaction:
      - acb5d51dcbb8319d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 04:19:57 +0000 2015","id":642190822029557760,"id_str":"642190822029557760","text":"Skyrocketing
        rent prices: See the budget busters and best deals in Denver http:\/\/t.co\/ORqiDcqH9o
        http:\/\/t.co\/Wn5EQfUIqi","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":18777618,"id_str":"18777618","name":"KDVR
        FOX31 Denver","screen_name":"KDVR","location":"Denver, Colorado","description":"FOX31
        Denver provides #BreakingNews, #COwx, traffic and sports for #Denver and the
        greater Rocky Mountain Region.  Have a news tip? Email: tips@kdvr.com","url":"http:\/\/t.co\/Vn0YUBPFMJ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Vn0YUBPFMJ","expanded_url":"http:\/\/www.kdvr.com","display_url":"kdvr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":70900,"friends_count":1426,"listed_count":1449,"created_at":"Thu
        Jan 08 20:25:13 +0000 2009","favourites_count":452,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":true,"statuses_count":95638,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000026049057\/f7df56507ef4e228218ba9ea4e697126.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000026049057\/f7df56507ef4e228218ba9ea4e697126.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000143794637\/a4fccba7dacf12b2b876310786c5e7f4_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000143794637\/a4fccba7dacf12b2b876310786c5e7f4_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18777618\/1436195700","profile_link_color":"009999","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/ORqiDcqH9o","expanded_url":"http:\/\/link.kdvr.com\/1UFOsRs","display_url":"link.kdvr.com\/1UFOsRs","indices":[74,96]}],"media":[{"id":642190805478739968,"id_str":"642190805478739968","indices":[97,119],"media_url":"http:\/\/pbs.twimg.com\/media\/COmFIpaVEAA3-Pc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COmFIpaVEAA3-Pc.jpg","url":"http:\/\/t.co\/Wn5EQfUIqi","display_url":"pic.twitter.com\/Wn5EQfUIqi","expanded_url":"http:\/\/twitter.com\/KDVR\/status\/642190822029557760\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":338,"resize":"fit"},"small":{"w":340,"h":191,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":642190805478739968,"id_str":"642190805478739968","indices":[97,119],"media_url":"http:\/\/pbs.twimg.com\/media\/COmFIpaVEAA3-Pc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COmFIpaVEAA3-Pc.jpg","url":"http:\/\/t.co\/Wn5EQfUIqi","display_url":"pic.twitter.com\/Wn5EQfUIqi","expanded_url":"http:\/\/twitter.com\/KDVR\/status\/642190822029557760\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":338,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":338,"resize":"fit"},"small":{"w":340,"h":191,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 04:19:25 +0000 2015","id":642190687543382016,"id_str":"642190687543382016","text":"2
        hashtag rules that will boost your social media audience @garyvee http:\/\/t.co\/vfNLuMW3Bd
        http:\/\/t.co\/Q99KkHJkNl","source":"\u003ca href=\"http:\/\/www.socialflow.com\"
        rel=\"nofollow\"\u003eSocialFlow\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_repl[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="931679f03268a1e77f009f7652e79cca",
        oauth_signature="EXrxPV2y2dUNKNLm36zeqc2AnaI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441945304", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+a+test+of+the+Twitter+API+system.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="d84271ff2c6e2f50e90a8896b3788af9",
        oauth_signature="yXNhXilzWG42UHELJedDMpCE95E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441945305", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 04:21:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4abdf80c1880d584bf907c949bdd03e5
      X-Response-Time:
      - '114'
      X-Transaction:
      - 439faf35b0af71fd
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 04:21:45 +0000 2015","id":642191272246009856,"id_str":"642191272246009856","text":"This
        is a test of the Twitter API system.","source":"\u003ca href=\"https:\/\/youtwitface-dev.herokuapp.com\"
        rel=\"nofollow\"\u003eyou_twit_face_dev\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_repl[...]
[...]
