---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json?count=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="7c8c6d7235103fa6cced2b3fe9a2103b",
        oauth_signature="yRg%2BX%2FJ0U7s6wSgaySgWeKiG8Bc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441972698", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 11:58:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0ddf4d5cdf0f3e45f4f9cce70cc9e185
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1441973259'
      X-Response-Time:
      - '49'
      X-Transaction:
      - f0cc2e1a8df6241b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 11 11:57:26 +0000 2015","id":642305950129475584,"id_str":"642305950129475584","text":"USDA
        study found kids who ate breakfast did better on math tests than those who
        skipped the meal. Here\u2019s what to eat:\nhttp:\/\/t.co\/fuPagpTE9F","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":12133382,"id_str":"12133382","name":"PBS","screen_name":"PBS","location":"Arlington,
        VA","description":"PBS invites you to discover new ideas and explore new worlds.
        Join us here for conversation and sharing.","url":"http:\/\/t.co\/njsUdPits1","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/njsUdPits1","expanded_url":"http:\/\/pbs.org\/","display_url":"pbs.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2184737,"friends_count":166115,"listed_count":17050,"created_at":"Fri
        Jan 11 22:05:56 +0000 2008","favourites_count":1957,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":47169,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/459415767801274368\/YjerTXwZ.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/459415767801274368\/YjerTXwZ.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/536909907669184512\/t3o0BV4L_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/536909907669184512\/t3o0BV4L_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/12133382\/1441294388","profile_link_color":"081929","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"E5FCFF","profile_text_color":"170400","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/fuPagpTE9F","expanded_url":"http:\/\/to.pbs.org\/1i3ecoU","display_url":"to.pbs.org\/1i3ecoU","indices":[118,140]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Fri
        Sep 11 11:56:41 +0000 2015","id":642305762111258624,"id_str":"642305762111258624","text":"Broad
        Daylight Shooting Possibly Gang-Related, Teen Hit Multiple Times (VIDEO)\n
        http:\/\/t.co\/vVD6n34uGV","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17451031,"id_str":"17451031","name":"DenverWestword","screen_name":"DenverWestword","location":"Denver,
        CO","description":"News and frivolity from Denver''s alt-weekly.","url"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="fa87f965d0a5ce9d299f2c033cf72a58",
        oauth_signature="CjV5OCfaPztxyDBV4BVhBjoudJ8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441972699", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIu[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: UTF-8
      string: id=642305950129475584
    headers:
      Authorization:
      - OAuth oauth_consumer_key="mTLyBXknuHQWtGBa4QBXFdGkn", oauth_nonce="805012d59e6210475de5aca81282e9a8",
        oauth_signature="ALVmlvRtjaJz9zqLOq3V5%2BOHvmM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441972700", oauth_token="21419451-NdGFFUNbmmhujkkANewroA21K2roEweJOSMIul0sN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Sep 2015 11:58:19 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 7af0d556560d1dc15d7d4d33cd4f0d57
      X-Response-Time:
      - '80'
      X-Transaction:
      - f39ec3ce38f94650
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Sep 11 11:57:26 +0000 2015","id":642305950129475584,"id_str":"642305950129475584","text":"USDA
        study found kids who ate breakfast did better on math tests than those who
        skipped the meal. Here\u2019s what to eat:\nhttp:\/\/t.co\/fuPagpTE9F","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u0[...]
[...]
