body {
  padding-top: 70px;
}

.navbar-brand {
  left: 45%;
  padding: 2.5px 15px;
  position: absolute;
}

.glyphicon.selected {
  color: deepskyblue;
}

#twit_message {
  resize: none;
  width: 215px;
}

#reply_message {
  height: 48px;
  resize: none;
  width: 260px;
}
