<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to image_tag("youtwitface-sm.jpg"), root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Messages</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li>
        <%= image_tag current_user.image_url, class: "img-responsive img-rounded" %>
      </li>
      <li><%= link_to "Logout", logout_path %></li>
      <% else %>
      <li><%= link_to "Login", "/auth/twitter" %></li>
      <% end %>
    </ul>
  </div>
</nav>
